/*html, bodylheight: 100%;|}

body!
margin: 0:
padding: 0;
font: 1em sans-serif;
background: url(images/cosmos.jpg);
background-size: cover
.earthl
width: ЗООрх;
padding: 100рх;
position: relative;
z-index: 1;

.moon{
position: absolute;
top: 170рх;
left: 170рх;
-webkit-animation: linear 5s orbita infinite;
animation: linear 5s orbita infinite;
z-index: 0;
1
@-webkit-keyframes orbital
0%{width: 72px;}
24%1z-index: 0;}
25%{left: 380px; top: 130px; z-index: 2;}
50%{width: 128px;}
74%{z-index: 2;}
75%{top: ЗООрх; left: 40px; z-index: 0;} ioo%(width: 72px; transform: rotate(360deg);}
^keyframes orbital
0%lwidth: 72px;}
24%1z-index: 0:}
25%lleft: 380px; top: 130рх; z-index: 2;}
50%lwidth: 128px;}
74%1z-index: 2;}
75%ltop: ЗООрх; left: 40px; z-index: 0;} 100%lwidth: 72px; transform: rotate(360deg);}
}








