html, body {height: 100%;}

body {
margin: 0;
padding: 0;
font: 1em sans-serif;
background: url(../images/cosmos.jpg);
background-size: cover;
}

.earth {
width: 300px;
padding: 100px;
position: relative;
z-index: 1;
-webkit-animation: orbita_earth 5s linear infinite; /* задаём параметры анимации для Земли*/
animation: orbita_earth 5s linear infinite; /* задаём параметры анимации  для Земли*/
}

.moon {
position: absolute;
top: 170px;
left: 170px;
-webkit-animation: orbita_moon 5s linear infinite;
animation: orbita_moon 5s linear infinite;
z-index: 0;
}

/* Анимации */
@-webkit-keyframes orbita_moon {
0% {width: 72px;}
24% {z-index: 0;}
25% {left: 380px; top: 130px; z-index: 2;}
50% {width: 128px;}
74% {z-index: 2;}
75% {top: 300px; left: 40px; z-index: 0;} 
100% {width: 72px; transform: rotate(360deg);}
}

@keyframes orbita_moon {
0% {width: 72px;}
24% {z-index: 0;}
25% {left: 380px; top: 130px; z-index: 2;}
50% {width: 128px;}
74% {z-index: 2;}
75% {top: 300px; left: 40px; z-index: 0;} 
100% {width: 72px; transform: rotate(360deg);}
}


@-webkit-keyframes orbita_earth {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes orbita_earth {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}